body { 
  background: url(/images/background.svg);
  background-size: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Nunito', sans-serif;
}

/* SUBSCRIBE SECTION */
section#subscribe {
  top: 25%;
  min-width: 25%;
  max-width: 500px;
  display: block;
  position: absolute;
  margin: 0 auto;
  color: #F1F1ED;
  text-align: center;
}

section#subscribe > div {
  background-color: #020099;
}


/* DETAILS SECTION */
@media screen and (max-width: 800px) {
  body {
    background: url(/images/background-small.svg) repeat-y center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  section#subscribe {
    max-width: 92%;
    min-width: 25%;
  }
  .h3, h3 {
    font-size: 1.7rem !important;
  }
}

.clearfix {
  display: block;
  content: "";
  clear: both;
}

.centered {
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
}
.center {
  width: 800px;
}

section > div {
  padding: 3px 5px;
  border-radius: 9px;
}

button {
  border-radius: 4px;
}

input {
  color: black;
}

section#details {
  float: left;
  display inline-block;
}


/* Subscription Form */
#email-button, #email-input {
  width: 80%;
  padding: 0px;
  margin: 0 auto;
  margin-bottom: 11px;
}

#email-input {
  margin-top: 8px;
}

.subscription-form {
  background: #0c3e5f;
  color: #fefefe;
  padding: 2rem;
  border-radius: 0;
  text-align: center;
}

#subscription-form {
  padding: 10px;
  box-shadow: 5px 7px 2px rgba(0, 0, 0, .5);
}

.subscription-form .button {
  margin-bottom: 0;
  border-radius: 0 0 0 0;
  color: black;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

#email-button {
  color: #F1F1ED;
  background-color: #020099;
  border: 2px solid white;

}

#email-input {
  text-align: center;
}

#whisp-img-container {
  max-width: 150px;
  margin: 0 auto;
}

#whisp-img-container > img {
  max-width:100%;
  height: auto;
}


#value-prop {
  width: 80%;
  text-align: left;
  margin: 0 auto;
}

.h3, h3 {
    font-size: 23px;
}
